*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;

}
.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(2, 68, 126);
}
.navbar li{
    list-style-type: none;
    padding: 1rem;
    font-size: x-large;
color: orange;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
}
.navbar-logo{
    flex: 1;
    font-size: 1.5rem;
    user-select: none;

}
.mobile-links{
    text-align: center;
}
.open-button{
    display: none;
}
.open-button img{
    width: 80%;
}
.navbar-links:hover{
    background-color: red;
 }
 .navbar-links:hover{
    color: yellow;
 }
 #search{
    color: aliceblue;
 }
 .searching{
    left: 2px;
 }
 @media (max-width:600px){
    .navbar ul{
        flex-wrap: wrap;
    }
    .open-button{
        display: block;
    }
    .navbar-links{
        display: none;
        width: 100%;
        text-align:center;
    }
    .active{
        display: block;
    }
 }
 .open-button {
    background-color: #555;
   /* color: white;
    padding: 16px 20px;
    border: none;*/
    cursor: pointer;
    /*opacity: 0.8;
    position: fixed;
    z-index: 999;
    bottom: 23px;
    right: 20px;*/
    margin-left: 5px;
    width: 70px;
    scroll-behavior: smooth;
  }
  /*.ddd{
    font-size: 25px;
    height: 50px;
    width: 52px;
    background: none;
    border: none;
  }*/
  .bbb{
    font-size: 50px;
    margin-left: 245px;
    color: white;
    border: none;
    background: none;
  }
   /*.mybtn{
    margin-top: 2px;
  }
 div.chatt{
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
    background-color: blue;
    color: yellow;
    border: none;
    margin-top: -37px;
    border-radius: 11px
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    /*bottom: 20px;*/
    right: 0;
    top: 0;
    width: 270px;
    margin-left: 10px;
    height: 300px;
   /* border: 3px solid #f1f1f1;*/
    z-index: 1000;
    background-color: rgb(2 68 126)e;
  }
  
  /* Add styles to the form container*/
  .form-container {
    height: 272px;
    overflow: scroll;
    background-color: rgb(15 49 80);
  } 
  .form-container a{
    font-size: 25px;
  }
  .form-container a:hover{
    background-color: #0e0d0d;
  }
  
  /* Full-width input fields 
  .form-container input[type=text], .form-container input[type=password] {
    width: 85%;
    height: 40px;
    padding: 0px;
    font-size: 36px;
    margin-left: -1px;
    margin-top: 290px;
    border-radius: 11px;
    border: 2px solid black;
    background: #f1f1f1;
}*/
  
  
  /* When the inputs get focus, do something 
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  #sub{
   /* background-color: rgb(0, 149, 255);
    text-align: center;
     height: 50px;
    margin-top: -50px;
    margin-left: 295px;
   
  }*/
 /* #can{
    background-color: red;
    text-align: center;
    margin-top: 10px;
    width: 60px;
    margin-left: 309px;
    border-radius: 5px;
    height: 35px;
  }*/
  /* Set a style for the submit/login button 
  .form-container .btn {
    background-color: #04AA6D;
    color: rgb(20, 219, 116);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }*/*/
  
  /* Add a red background color to the cancel button 
  .form-container .cancel {
    background-color: red;
  }*/
  
  /* Add some hover effects to buttons*/ 
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
