body{
    
    margin: 0px;
    background-color: #000000de;}
*{margin: 0;
    padding: 0;
    box-sizing: border-box;

}
    .navbar ul{
        display: flex;
        width: 100%;
        align-items: center;
        background-color: rgb(2, 68, 126);
    }
    .navbar li{
        list-style-type: none;
        padding: 1rem;
        font-size: x-large;
    color: orange;
    }
    .navbar a{
        text-decoration: none;
        color: aliceblue;
    }
    .navbar-logo{
        flex: 1;
        font-size: 1.5rem;
        user-select: none;

    }
    .navbar-toggle{
        display: none;
    }
    .navbar-toggle img{
        width: 20%;
    }
    .navbar-links:hover{
        background-color: red;
     }
     .navbar-links:hover{
        color: yellow;
     }
     #search{
        color: aliceblue;
     }
     .searching{
        left: 2px;
     }
     @media (max-width:600px){
        .navbar ul{
            flex-wrap: wrap;
        }
        .navbar-toggle{
            display: block;
        }
        .navbar-links{
            display: none;
            width: 100%;
            text-align:center;
        }
        .active{
            display: block;
        }
     }

.header1{
    height: 200px;
    margin-top: 115px;
    display: flex;
    border: 2px solid;
    border-radius: 0px;
text-align: center;}
.w-5\/12 {
    width: 41.666667%;}
.header2-left:hover{
transform: scale(1.0,1.0);
z-index: 2;
}
.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin: 0px;
    border: 2px solid #201d1dde ;
    text-align: center;
}
.ab1{
    display: grid;
    text-align: center;
    border: 2px solid #3c3c3c;
    margin: 10px;
    background-color: #000000;
    color: bisque;
    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .ab1:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
.ab1 img{
    border-radius: 12px;
width: 205px;
height: 250px;
margin-left: 0px;
margin: 20px;}
.ab2{
    display: grid;
    text-align: center;
    border: 2px solid #3c3c3c;
    margin: 10px;
    background-color: #000000;
    color: bisque;
    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .ab2:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
.ab2 img{
    border-radius: 12px;
    width: 205px;
    height: 250px;
    margin-left: 0px;
    margin: 24px;}
.ab3{
    display: grid;
    text-align: center;
border: 2px solid #3c3c3c;
margin: 10px;
background-color: #000000;
    color: bisque;
    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .ab3:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
.ab3 img{
    border-radius: 12px;
    width: 205px;
height: 250px;
margin-left: 0px;
margin: 24px;}
.ab4{
    display: grid;
    text-align: center;
    border: 2px solid #3c3c3c;
    margin: 10px;
    background-color: #000000;
    color: bisque;
    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .ab4:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
.ab4 img{
    border-radius: 12px;
    width: 205px;
    height: 250px;
    margin-left: 0px;
    margin: 24px;}

    
    .header3{
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
        
        margin: 0px;
        border: 2px solid #201d1dde ;
        text-align: center;
    }
    .header3-left{
        display: grid;
        text-align: center;
        border: 2px solid #3c3c3c;
        margin: 10px;
        background-color: #000000;
        color: bisque;
        width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header3-left:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
    
    .header3-left img{
        border-radius: 12px;
    width: 205px;
    height: 250px;
    margin-left: 0px;
    margin: 20px;}
    .header3-mid{
        display: grid;
        text-align: center;
        border: 2px solid #3c3c3c;
        margin: 10px;
        background-color: #000000;
        color: bisque;
        width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header3-mid:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
    
    .header3-mid img{
        border-radius: 12px;
        width: 205px;
        height: 250px;
        margin-left: 0px;
        margin: 24px;}
    .header3-mid2{
        display: grid;
        text-align: center;
    border: 2px solid #3c3c3c;
    margin: 10px;
    background-color: #000000;
        color: bisque;
        width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header3-mid2:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
    .header3-mid2 img{
        border-radius: 12px;
        width: 205px;
    height: 250px;
    margin-left: 0px;
    margin: 24px;}
    .header3-right{
        display: grid;
        text-align: center;
        border: 2px solid #3c3c3c;
        margin: 10px;
        background-color: #000000;
        color: bisque;
        width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header3-right:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
    .header3-right img{
        border-radius: 12px;
        width: 205px;
        height: 250px;
        margin-left: 0px;
        margin: 24px;}

        .header4{
            display: flex;
            
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
            margin: 0px;
            border: 2px solid #201d1dde ;
            text-align: center; 
        }
        .header4-left{
            display: grid;
            text-align: center;
            border: 2px solid #3c3c3c;
            margin: 10px;
            background-color: #000000;
            color: bisque;
            width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header4-left:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
        .header4-left img{
            border-radius: 12px;
        width: 205px;
        height: 250px;
        margin-left: 0px;
        margin: 20px;}
        .header4-mid{
            display: grid;
            text-align: center;
            border: 2px solid #3c3c3c;
            margin: 10px;
            background-color: #000000;
            color: bisque;
            width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header4-mid:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
        .header4-mid img{
            border-radius: 12px;
            width: 205px;
            height: 250px;
            margin-left: 0px;
            margin: 24px;}
        .header4-mid2{
            display: grid;
            text-align: center;
        border: 2px solid #3c3c3c;
        margin: 10px;
        background-color: #000000;
            color: bisque;
            width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header4-mid2:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
        .header4-mid2 img{
            border-radius: 12px;
            width: 205px;
        height: 250px;
        margin-left: 0px;
        margin: 24px;}
        .header4-right{
            display: grid;
            text-align: center;
            border: 2px solid #3c3c3c;
            margin: 10px;
            background-color: #000000;
            color: bisque;
            width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header4-right:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
        .header4-right img{
            border-radius: 12px;
            width: 205px;
            height: 250px;
            margin-left: 0px;
            margin: 24px;}

            .header5{
                display: flex;
                
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
                margin: 0px;
                border: 2px solid #201d1dde ;
                text-align: center;
            }
            .header5-left{
                display: grid;
                text-align: center;
                border: 2px solid #3c3c3c;
                margin: 10px;
                background-color: #000000;
                color: bisque;
                width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header5-left:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
            .header5-left img{
                border-radius: 12px;
            width: 205px;
            height: 250px;
            margin-left: 0px;
            margin: 20px;}
            .header5-mid{
                display: grid;
                text-align: center;
                border: 2px solid #3c3c3c;
                margin: 10px;
                background-color: #000000;
                color: bisque;
                width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header5-mid:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
            .header5-mid img{
                border-radius: 12px;
                width: 205px;
                height: 250px;
                margin-left: 0px;
                margin: 24px;}
            .header5-mid2{
                display: grid;
                text-align: center;
            border: 2px solid #3c3c3c;
            margin: 10px;
            background-color: #000000;
                color: bisque;
                width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header5-mid2:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
            .header5-mid2 img{
                border-radius: 12px;
                width: 205px;
            height: 250px;
            margin-left: 0px;
            margin: 24px;}
            .header5-right{
                display: grid;
                text-align: center;
                border: 2px solid #3c3c3c;
                margin: 10px;
                background-color: #000000;
                color: bisque;
                width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header5-right:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
            .header5-right img{
                border-radius: 12px;
                width: 205px;
                height: 250px;
                margin-left: 0px;
                margin: 24px;}
                .header6{
                    display: flex;
                    
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
                    margin: 0px;
                    border: 2px solid #201d1dde ;
                    text-align: center;
                }
                .header6-left{
                    display: grid;
                    text-align: center;
                    border: 2px solid #3c3c3c;
                    margin: 10px;
                    background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header6-left:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header6-left img{
                    border-radius: 12px;
                width: 205px;
                height: 250px;
                margin-left: 0px;
                margin: 20px;}
                .header6-mid{
                    display: grid;
                    text-align: center;
                    border: 2px solid #3c3c3c;
                    margin: 10px;
                    background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header6-mid:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header6-mid img{
                    border-radius: 12px;
                    width: 205px;
                    height: 250px;
                    margin-left: 0px;
                    margin: 24px;}
                .header6-mid2{
                    display: grid;
                    text-align: center;
                border: 2px solid #3c3c3c;
                margin: 10px;
                background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header6-mid2:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header6-mid2 img{
                    border-radius: 12px;
                    width: 205px;
                height: 250px;
                margin-left: 0px;
                margin: 24px;}
                .header6-right{
                    display: grid;
                    text-align: center;
                    border: 2px solid #3c3c3c;
                    margin: 10px;
                    background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header6-right:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header6-right img{
                    border-radius: 12px;
                    width: 205px;
                    height: 250px;
                    margin-left: 0px;
                    margin: 24px;}
                .header7{
                     display: flex;
                     
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
                     margin: 0px;
                     border: 2px solid #201d1dde ;
                     text-align: center;
                    }
                .header7-left{
                    display: grid;
                    text-align: center;
                    border: 2px solid #3c3c3c;
                    margin: 10px;
                    background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header7-left:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header7-left img{
                    border-radius: 12px;
                    width: 205px;
                    height: 250px;
                    margin-left: 0px;
                    margin: 20px;}
                .header7-mid{
                    display: grid;
                    text-align: center;
                    border: 2px solid #3c3c3c;
                    margin: 10px;
                    background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header7-mid:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header7-mid img{
                    border-radius: 12px;
                    width: 205px;
                    height: 250px;
                    margin-left: 0px;
                    margin: 24px;}
                .header7-mid2{
                    display: grid;
                    text-align: center;
                    border: 2px solid #3c3c3c;
                    margin: 10px;
                    background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header7-mid2:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header7-mid2 img{
                    border-radius: 12px;
                    width: 205px;
                    height: 250px;
                    margin-left: 0px;
                    margin: 24px;}
                .header7-right{
                    display: grid;
                    text-align: center;
                    border: 2px solid #3c3c3c;
                    margin: 10px;
                    background-color: #000000;
                    color: bisque;
                    width: 250px;
    margin: o 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: 1s;}
    .header7-right:hover{
        transform: scale(1.3,1.3);
        z-index: 2;
        }
                .header7-right img{
                    border-radius: 12px;
                    width: 205px;
                    height: 250px;
                    margin-left: 0px;
                    margin: 24px;}        
